/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: rgb(19, 19, 19);
  --info: rgb(51, 51, 51);
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --green: #5ea04e;
  --mydark: rgb(113, 116, 114); 
  --blue: rgb(19, 152, 241);
  --red: rgb(241, 19, 30);
  --nav: rgb(82, 82, 82, 0.8);
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background-color: rgb(73, 67, 67);
  margin: 30px 50px;
  line-height: 1.4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: whitesmoke;
}

a {
  color: var(--blue);
  text-decoration: none;
}

hr.dashed {
  border: 1px dashed var(--green);
  width: 70%;
  margin-left: 0px;
}

.aBTN {
  color: var(--primary);
}

.footerBTN {
color: var(--primary);
}
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--info);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--nav);
  color: var(--dark);
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  /*background: url(https://i.ibb.co/HYqVVvn/bkgdPort.jpg);*/
  background-image: url(../Media/images/bkgdContact.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

/* Top Box */
.top-box {
  background: var(--info);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 1rem;
  /* font-size: 2.5rem; */
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--info);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.box_collega {
  background: var(--info);
  text-align: left;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  
}
.box_collega_rechts {
  background: var(--info);
  text-align: left;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  
}
/* Info */
.info {
  background: var(--info);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr); /*de eerste 1 is voor het anntal rijen de tweede 1ft is hoe de rijen zijn verdeeld*/
  padding: 3rem;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--info);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }
}

/*dropdown button portfolio*/
.dropbtn {
  background-color: var(--dark);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--info);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--nav);
  color: rgb(19, 19, 19);
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--dark);}
/*dropdown button*/

/*Read more here button*/
.button {
  background-color: var(--light);
  border: 1px solid var(--green);
  box-shadow: 0px 0px 10px 2px var(--green);
  color: var(--dark);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*Read more here button*/

/*check box*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--dark);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*check box*/

 /* tables_Rebo */
 * {
  font-family: sans-serif; /* Change your font family */
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: var(--mydark);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 2px solid var(--mydark);/*Tussen-lijn*/
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--mydark);/*Bottem-line*/
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: var(--green); /*active line*/
}
/* tables_Rebo */


/* top-button */
.top-button {
  background-color: var(--mydark);
  border: 1px solid var(--green);
  box-shadow: 0px 0px 10px 2px var(--light);
  color: var(--light);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* top-button */

/* Begin NaamVak */

pre code {
  display: block;
  line-height: 1.75em;
  padding: 1em 1.5em;
  overflow-x: auto;
}

/* End NaamVak */

/* header */
header {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

.Body-Link {
  color: var(--blue);
}
.Body-Link:hover {
  background-color: rgb(19, 152, 241, .3);
  color: var(--light);
}

/* <!-- Portfolio --> */
/* div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
} */
/* <!-- Portfolio --> */

/* <!-- StickyButton --> */
div.fixed {
  position: fixed;
  /* top: 24%; */
  /* right: 5%; */
  right: 0%;
  bottom: 0%;
  width: 100px;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.125);
  border-color: var(--dark);
  box-shadow: Var(--shadow);
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}
/* <!-- StickyButton --> */

/* Note class tag */
.Note {
  font-size: 12px;
}
/* Note class tag */

/* Code container resposief */
.code-container {
  overflow: auto; /* Om horizontale scroll toe te voegen als de code te breed is */
}

pre {
  white-space: pre-wrap; /* Om ervoor te zorgen dat de code wordt omgebroken op kleine schermen */
}

code-test {
  display: block; /* Om ervoor te zorgen dat de code wordt weergegeven als een blok */
  padding: 10px;
  background-color: var(--mydark); /* Achtergrondkleur van het codevak */
  border: 1px solid var(--mydark); /* Rand rondom het codevak */
  border-radius: 5px; /* Afronding van de randen */
  border-color: var(--dark);
  box-shadow: Var(--shadow);
  font-family: Consolas, Monaco, 'Courier New', Courier, monospace; /* Lettertype voor de code */
  font-size: 14px; /* Grootte van de tekst */
  line-height: 1.5; /* Regelhoogte */
  overflow: auto; /* Om verticale scroll toe te voegen als de code te lang is */
  max-width: 100%; /* Om ervoor te zorgen dat de code niet breder wordt dan het scherm */
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

/* Code container resposief */

/* Copy code container */
.copyBtn {
  padding: 2px;
  background-color: var(--info); /* Achtergrondkleur van het codevak */
  color: var(--blue);
  border: none;
  border-radius: 5px;
  border-color: var(--dark);
  box-shadow: Var(--shadow);
  cursor: pointer;
  transition: all 0.3s;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; /* Tekst links uitlijnen */
  max-width: 100%;
  margin-bottom: 2px;
}
.copyBtn:hover {
  background-color: var(--blue);
  color: var(--light);
}
/* Copy code container */

/* Stijlen voor de navBTN */
.navButton {
  display: inline-block; /* Veranderd naar inline-block */
  padding: 2px 10px; /* Optioneel: Pas padding naar wens aan */
  background-color: var(--info); /* Achtergrondkleur van het codevak */
  color: var(--blue);
  border: none;
  border-radius: 5px;
  border-color: var(--dark);
  box-shadow: Var(--shadow);
  cursor: pointer;
  transition: all 0.3s;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; /* Tekst links uitlijnen */
  max-width: 100%;
  min-width: 100px; /* Minimale breedte van de knop */
  margin-bottom: 2px;
}

.navButton:hover {
  background-color: var(--blue);
  color: var(--light);
}

/* Arrow rechts */
.arrow {
  max-width: 3em; /* Maximale breedte van 3 tekens */
  overflow: hidden; /* Verbergt eventuele extra tekst */
  white-space: nowrap; /* Voorkomt dat de tekst wordt gewrapt */
}
/* Arrow rechts */

/* custom-section */
.custom-section {
  display: inline-block; /* Veranderd naar inline-block */
  padding: 5px 5px 5px; /* Optioneel: Pas padding naar wens aan */
  background-color: var(--info); /* Achtergrondkleur van het codevak */
  /* color: var(--blue); */
  border: none;
  border-radius: 5px;
  border-color: var(--dark);
  box-shadow: Var(--shadow);
  cursor: pointer;
  transition: all 0.3s;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; /* Tekst links uitlijnen */
  max-width: 100%;
  min-width: auto; /* Minimale breedte van de knop */
  margin-bottom: 2px;
  text-align: left;
}
/* custom-section */

/*Gallery test Youtube*/
.gallery{
  display: inline-block;
  border: 1px solid var(--shadow);
  box-shadow: var(--shadow);
  margin: 10px;
  width: auto;
}
.gallery .description{
  padding: 10px;
  text-align: left;
}

.gallery:hover{
  box-shadow: 1px var(--shadow);
}
.gallery img{
  width: 100%;
  height: auto;
}
/*Gallery test Youtube*/

.dd-rebo{
  margin-bottom: 80px; /* Hiermee voeg je 20px ruimte onder elke alinea toe */
}